html,
body {
	min-width: 1122px;
  margin: 0;
  padding: 0;
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
  background-color: white;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.logo{
  float: left;
  width: 140px;
  min-height: 70px;
  margin-right: 20px;
}

.main-navigation-2{
  width: 620px;
  min-height: 70px;
  float: left;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

/* стили для catalog-item.html */

.breadcrumbs {
  width: 940px;
  margin-bottom: 20px;
}

.images-item {
  width: 460px;
  float: left;
}

.img-primary {
  margin-bottom: 20px;
}

.img-nav {
  float: left;
  margin-right: 20px;
}

.img-nav:last-child {
  margin: 0;
}

.item-description {
  width: 460px;
  float: right;
  margin-bottom: 70px;
}

.paragraph {
  width: 390px;
}

.item-content {
  width: 460px;
  float: right;
}

/* стили для catalog.html */

.filter-product-selection {
  width: 940px;
}

.filter-container {
  width: 220px;
  float: left;
}

.item-block {
  width: 700px;
  float: right;
}

.item-block__pictures{
  width: 220px;
  min-height: 286px;
  float: left;
}

.item-block__pictures {
  margin-right: 20px;
  margin-bottom: 20px;
}

.item-block__pictures:nth-child(3n) {
  margin: 0;
}

/*
.radiobutton {
 width:20px;
 height:20px;
 border:1px solid black;
 border-radius:50px;
}
*/

























/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}


