body {
	font-size: 14px;
	line-height: 0.7em;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Times New Roman", serif;
}
h1, {
	font-size: 30px;
	line-height: 1.4em;
}
h2 {
	font-size: 24px;
	line-height: 1.25em;
}
h3 {
	font-size: 14px;
	line-height: 0.7em;
}



